#main {
    grid-area: 3/1/3/1;
    row-gap: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 900px){
    #main {
        grid-area: 2/1/3/3;
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        grid-auto-rows: auto;
        gap: 72px;
        margin: auto;
    }
}

