main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    padding-left: 346px;
    padding-right: 317px;
}

.post-img {
    background-image: url("../../img/post-1.png");
    border-radius: 15px;
    box-shadow: 0px 5px 17px 0px #00000040;
    width: 750px;
    height: 750px;
}

p, blockquote{
    font-family: "Arial";
    font-size: large;
}
