html,
body {
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 1fr 1fr 100%;
    grid-template-areas:
        "hero hero hero"
        "main main sb"
        "footer footer  footer";
}

#hero {
    grid-area: hero;
    background-color: #0094FF;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 10px solid #323131;
}


#logo {
    background-image: url("./logo.svg");
    width: 120px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1vw;

}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vw 5vw 0 5vw;
}

#nav-list {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.nav-item {
    font-family: 'Tajawal';
    font-weight: 400;
    font-size: medium;
    color: white;

}

a:hover {
    animation: shadow 200ms 0ms linear forwards;
}

@keyframes shadow {
    from {
        text-shadow: 0px 0px #ffffff00;

    }

    to {
        text-shadow: 2px 2px 5px #000000;

    }

}

a:link,
a:visited {
    color: white;
    text-decoration: none;


}

#hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex: none;
    flex-grow: 1;
    margin-top: 100px;
}

.hero-headline {
    font-family: 'Tajawal';
}

#title {
    font-weight: 700;
    font-size: xx-large;
    color: white;
}

#subtitle {
    font-weight: 400;
    font-size: large;
    color: #8FD0FF;
}

#line-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);;
    grid-auto-rows: 254px;
}