main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p, blockquote{
    font-family: "Arial";
    font-size: x-large;
}
p{
    padding-left:30px;
    padding-right: 30px;
}




@media (min-width: 1300px){
    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
        padding-left: 346px;
        padding-right: 317px;
    }

    p, blockquote{
        font-family: "Arial";
        font-size: large;
    }
    p{
        padding-left:30px;
        padding-right: 30px;
    }
    
    
}