
.card {
    position: relative;
    width: 389px;
    border-color: #d2d6db82;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 12px 12px 15px -7px #00000040;
    height: 365px;
}
.decoration {
    position: absolute;
    display: flex;
    top: -6px;
    left: 159px;
    flex-direction: row;
    gap: 12px;
}

.circle {
    background-color: white;
    width: 10px;
    height: 10px;
    border-color: #d2d6db82;
    border-width: thin;
    border-style: solid;
    border-radius: 100%;
}

@media (min-width: 900px){
    .card {
        width: 450px;
    }
    .decoration{
        left: 195px;
    }
}
