#footer {
    grid-area: footer;
    background: #343434;
    background-image: radial-gradient(circle at 4px 4px, #d2d6db0a 2px, transparent 0);
    background-size: 15px 17px;
    box-shadow: 0px -5px 16px 0px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}




#socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 23px;
}

.social-icon {
    width: 35px;
    height: 35px;
}

#footer-rights {
    color: whitesmoke
}