#hero {
    background-color: #0094FF;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #a9a1a1;
    box-shadow: 0px 5px 17px 0px #00000040;
    justify-content: flex-start;
    row-gap: 357px;
}

#logo {
    background-image: url("../../img/logo.svg");
    width: 120px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5vh;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vw 5vw 0 5vw;
    align-items: center;
}

#nav-list {
    display: none;
}

.nav-item {
    font-family: 'Tajawal';
    font-weight: 400;
    font-size: medium;
    color: white;

}

a:hover {
    animation: shadow 200ms 0ms linear forwards;
}

@keyframes shadow {
    from {
        text-shadow: 0px 0px #ffffff00;

    }

    to {
        text-shadow: 2px 2px 5px #000000;

    }

}

a:link,
a:visited {
    color: white;
    text-decoration: none;


}


#hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.hero-headline {
    font-family: 'Tajawal';
}

#title {
    font-weight: 700;
    font-size: 3em;
    color: white;
}

#subtitle {
    font-weight: 400;
    font-size: xx-large;
    color: #8FD0FF;
}

#line-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

svg {
    width: 75%;
}

#burger-menu {
    display: flex;
    position: relative;
    background-color: white;
    width: 35px;
    height: 5px;
    z-index: 2;
}

#burger-menu::after {
    content: "";
    position: absolute;
    top: 10px;
    background-color: white;
    width: 35px;
    height: 5px;
}

#burger-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    background-color: white;
    width: 35px;
    height: 5px;
}

#burger-btn {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border-width: 0;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
#burger-btn:active{
    background-color: #1d1d1d3f;
}

#mobile-navmenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    
}
#mobile-navlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    row-gap: 155px;
}
.mobile-navitem {
    color: #30354e !important;
    font-family: "tahoma";
    font-size: xxx-large;
    font-weight: 900;
}

@media (min-width: 1300px) {
    #burger-btn,
    #burger-menu{
        display: none;
    }
    #hero {
        grid-area: hero;
        background-color: #0094FF;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #a9a1a1;
        box-shadow: 0px 5px 17px 0px #00000040;
        justify-content: flex-start;
        row-gap: 165px;
    }

    #logo {
        background-image: url("../../img/logo.svg");
        width: 120px;
        height: 51px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 5vh;

    }




    #nav-list {
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }

    .nav-item {
        font-family: 'Tajawal';
        font-weight: 400;
        font-size: medium;
        color: white;

    }

    a:hover {
        animation: shadow 200ms 0ms linear forwards;
    }

    @keyframes shadow {
        from {
            text-shadow: 0px 0px #ffffff00;

        }

        to {
            text-shadow: 2px 2px 5px #000000;

        }

    }

    a:link,
    a:visited {
        color: white;
        text-decoration: none;


    }

    #hero-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .hero-headline {
        font-family: 'Tajawal';
    }

    #title {
        font-weight: 700;
        font-size: xx-large;
        color: white;
    }

    #subtitle {
        font-weight: 400;
        font-size: large;
        color: #8FD0FF;
    }

    #line-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

}