#hero {
    grid-area: hero;
    background-color: #0094FF;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #a9a1a1;
    box-shadow: 0px 5px 17px 0px #00000040;
    justify-content: flex-start;
    row-gap: 165px;
}
#logo {
    background-image: url("../../img/logo.svg");
    width: 120px;
    height: 51px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5vh;

}


#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vw 5vw 0 5vw;
}

#nav-list {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.nav-item {
    font-family: 'Tajawal';
    font-weight: 400;
    font-size: medium;
    color: white;

}

a:hover {
    animation: shadow 200ms 0ms linear forwards;
}

@keyframes shadow {
    from {
        text-shadow: 0px 0px #ffffff00;

    }

    to {
        text-shadow: 2px 2px 5px #000000;

    }

}

a:link,
a:visited {
    color: white;
    text-decoration: none;


}

#hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
.hero-headline {
    font-family: 'Tajawal';
}

#title {
    font-weight: 700;
    font-size: xx-large;
    color: white;
}

#subtitle {
    font-weight: 400;
    font-size: large;
    color: #8FD0FF;
}

#line-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}