html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: 0.75fr 1fr 0.25fr;
    grid-template-areas: "hero hero hero"
        "main main sb"
        "footer footer  footer";
    row-gap: 216px;
}