#sidebar-pc{
    display: none;
}
.side-item {
    position: relative;
    width: 234px;
    height: auto;
    padding: 39px;
}

.sdi-top-dec {
    left: 20%;
}

.sdi-bottom-dec {
    top: 98.5%;
    left: 65%;
}

.filter-title {

    text-decoration: underline;
}

.filter-link:visited,
.filter-link:link {
    color: #000000;
}

.clear {
    display: none;
    float: right;
}

option, .filter-title{
    font-size: x-large;
    font-family: "Tahoma";
}
li{
    font-family: "Tahoma";
}

@media (min-width: 900px) {
    #sidebar-mobile {
        display: none;
    }

    #sidebar-pc {
        display: block;
    }
}