#sidebar-pc {
    display: none;
}

.side-item {
    position: relative;
    width: 234px;
    height: auto;
    padding: 39px;
}

#sidebar-mobile {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
    justify-content: center;
}

.sdi-top-dec {
    left: 20%;
}

.sdi-bottom-dec {
    top: 98.5%;
    left: 65%;
}

.filter-title {

    text-decoration: underline;
}

.filter-link:visited,
.filter-link:link {
    color: #000000;
}

.clear {
    display: none;
    float: right;
}

#clearbtn {
    border-radius: 100%;
    border-width: 0.2px;
    border-color: #a9a1a1;
    border-style: solid;
    background-color: #f1f1f1;
    width: 30px;
    height: 30px;
    padding: 8px;
}

option,
.filter-title {
    font-size: x-large;
    font-family: "Tahoma";
}

li {
    font-family: "Tahoma";
}

@media (min-width: 1300px) {
    #sidebar-mobile {
        display: none;
    }

    #sidebar-pc {
        display: block;
    }

    aside {
        grid-area: sb;
    }
}