.tags {
    display: flex;
    gap: 15px;
}

.tag {
    font-family: "Tajawal";
    background-color: #e91e63;
    color: white;
    border-radius: 33px;
    padding: 5px;
    padding-top: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: #d2d6db82;
    border-width: thin;
    border-style: solid;
    box-shadow: 1px 2px 3px 0px #00000040;
}